<!DOCTYPE html>

<div style="margin-top: 50px" class="jumbotron">
  <h1>Welcome to I Object!</h1>
  	<blockquote>
	  <p>I do not agree with what you have to say, but I'll defend to the death your right to say it.</p>
	  <small>Voltaire</small>
	</blockquote>
  	<a class="btn btn-primary btn-lg">Get started</a>
  </p>
</div>